body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
}

.container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.width-md {
  width: 240px;
}

.container-form {
  max-width: 300px;
  margin: 0 auto;
}

.mt-1 {
 margin-top: 1rem;
}